<%= form_for @medium do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  
  <div class="action">
    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
  </div>
<% end -%>