<!DOCTYPE html>
<html>
<head>
  <title>Edward Loveall</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    logged in as <%= current_user.name %>
    <%= link_to "Log out", logout_path %>
  <% end %>
  
  <h1><%= t :title %></h1>
  <h2><%= t :subtitle %></h2>  
<%= yield %>

</body>
</html>
